@import "tailwindcss";

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@layer utilities {
  .animate-shimmer {
    animation: shimmer 1.5s infinite linear;
    background: linear-gradient(90deg, #d1d5db 25%, #e5e7eb 50%, #d1d5db 75%);
    background-size: 200% 100%;
  }
}

button,
a,
label {
  @apply cursor-pointer disabled:opacity-60 disabled:pointer-events-none;
}
